:root {
  --yellow-gold: #ffd700;
  --light-blue: #7fffd0;
}

.topNav {
    font-weight: bolder;
    color: var(--light-blue);
    margin: 80px auto 40px auto;
  }

.topNav span{
    color: var(--yellow-gold);
    font-size: 1.25em;
    padding: 10px;
}