:root {
  --yellow-gold: #ffd700;
  --light-blue: #7fffd0;
}
.h1 {
  color: var(--yellow-gold);
}
a {
  text-decoration: none;
}
a:hover {
  color:  var(--light-blue);
}

.text-info {
  color: var(--light-blue);
}